# Loops

In [2]:
seq = [1, 2, 3, 4, 5]

In [3]:
for num in seq:
    print(num)

1
2
3
4
5

In [4]:
i = 1

while i < 5:
    print(f'i is: {i}')
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [5]:
for x in seq:
    print(x)

1
2
3
4
5

# Range

In [8]:
range(0, 5)

range(0, 5)

In [9]:
for x in range(0, 5):
    print(x)

0
1
2
3
4

In [10]:
print(list(range(0,5)))

[0, 1, 2, 3, 4]

In [13]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# List Comprehensions

Without a list comprehension:

In [14]:
x = [1, 2, 3, 4]

In [16]:
out = []

for num in x:
    out.append(num**2)

In [17]:
print(out)

[1, 4, 9, 16]

With a list comprehension:

In [18]:
[num**2 for num in x]

[1, 4, 9, 16]

In [19]:
print(out)

[1, 4, 9, 16]

In [20]:
out = [num**2 for num in x]

In [21]:
print(out)

[1, 4, 9, 16]